<%- include("includes/head.ejs") %>
<body class="home-body container">
    <div class="centered-content">
        <div class="heading text-center">
            <h1>Welcome to TASKA</h1>
        </div>
        <div class="home-page container text-center">
            <p>Click the tick to get started.</p>
        </div>
        <a class="tick container" href="/boxes"><i class="fa-solid fa-check"></i></a>
    </div>
</body>
