<%- include("includes/head.ejs") %>
<body class="home-body container-fluid">
    <div class="centered-content">
        <div class="heading">
            <h1>Welcome to TASKA</h1>
        </div>
        <div class="home-page container-fluid">
            <p>Click the tick to get started.</p>
        </div>
        <a class="tick container-fluid" href="/boxes"><i class="fa-solid fa-check"></i></a>
    </div>
</body>